body {
  background-color: #E5E5E5;
}

.App {
  text-align: center;
}

.form-header {
  align-items: center;
  background-color: #00796B;
  color: white;
  display: flex;
  height: 56px;
  padding: 0 16px 0 16px;
}

.form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.header {
  width: 100%;
  align-items: center;
  height: 40px;
}
.css-sd24yf-MuiFormHelperText-root.Mui-error::before {
  content: '';
  background-image: url(../src/assets/warning.svg);
  background-size: 15px 13px;
  display: inline-block;
  margin-right: 6px;
  width: 15px;
  height: 13px;
}

.name-input #nome-helper-text, #obcervacoes-helper-text {
  margin-left: 95%;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit.css-1vooibu-MuiSvgIcon-root {
  color: white;
}
