.App {
  text-align: center;
}

.form-header {
  align-items: center;
  background-color: #00796B;
  color: white;
  display: flex;
  height: 56px;
  padding: 0 16px 0 16px;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit.css-1vooibu-MuiSvgIcon-root {
  color: white;
}